.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


.film-info{
  display : flex;
  flex-direction: column;
  max-width: 900px; 
}

.film-info img{
  border-radius:20px;
}
.film-info button{
  margin-right: 5px;
  margin-top: 15px;
  cursor: pointer;
  border-radius:5px;
  border:0;
  font-size: 20px;
  outline: none;
  padding: 12px;
  transition: all 0.6s;
}
.film-info button:hover{
  background-color: brown;
  color: white;
  transition: all 0.6s;
}
.film-info button a {
  text-decoration: none;
  color: #000
}
.film-info button a:hover{
  color: white;
  transition: all 0.6s;
}